<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1 data-position="header">Lost Item form</h1>

    <section data-position="add-request">
      <h2>Add Item</h2>

      <form action="/picture" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="itemid" name="itemid" />
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="category" name="category" />
        <input type="text" placeholder="color" name="color" />
        <input type="text" placeholder="location" name="location" />
        <input type="file" placeholder="picture" name="picture" />
        <input type="date" placeholder="date" name="date" />
        <input type="text" placeholder="description" name="description" />
        <button type="submit">Submit</button>
      </form>
    </section>
<!--
    <section data-position="update-request">
      <div>
        <h2>Edit Request</h2>
        <p>
          Edit Request
        </p>
        <button id="update-button">Edit Request</button>
      </div>
    </section>

    <section data-position="cancel-quote">
      <div>
        <h2>Cancel Request</h2>
        <p>
          Cancel Request
        </p>
        <button id="cancel-button">Cancel Request</button>
      </div>
      <div id="message"></div>
    </section>
-->
<section data-position="requests">
    <h2>Items</h2>
  
    <table class="requests">
        <tr>
            <th> itemid</th>
            <th> name</th>
            <th>category</th>
            <th>color</th>
            <th>location</th>
            <th>picture</th>
            <th>date</th>
            <th> description</th>
        </tr>
        <% for(var i = 0; i < requests.length; i++) {%>
        
        <tr class="request">
          <td><%= requests[i].itemid %></td>
          <td><%= requests[i].name %></td>
          <td><%= requests[i].category %></td>
          <td><%= requests[i].color %></td>
          <td><%= requests[i].location %></td>
          <td><%= requests[i].picture %></td>
          <td><%= requests[i].date %></td>
          <td><%= requests[i].description %></td>
        <!-- does not do anything-->
        <td>
          <form action="/requests" method="POST">
          <button type="submit">request</button>
          </form>
        </td>
        </tr>
       

        <% } %>
      
    </table>
</section>
    <script src="/main.js"></script>
  </body>
</html>