<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1 data-position="header">Lost Item form</h1>

    <section data-position="add-request">
      <h2>Add Item</h2>

      <form action="/requests" method="POST">
        <input type="text" placeholder="itemid" name="itemid" />
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="category" name="category" />
        <input type="text" placeholder="color" name="color" />
        <input type="text" placeholder="location" name="location" />
        <input type="file" placeholder="picture" name="picture" />
        <input type="date" placeholder="date" name="date" />
        <input type="text" placeholder="description" name="description" />
        <button type="submit">Submit</button>
      </form>
    </section>
<!--
    <section data-position="update-request">
      <div>
        <h2>Edit Request</h2>
        <p>
          Edit Request
        </p>
        <button id="update-button">Edit Request</button>
      </div>
    </section>

    <section data-position="cancel-quote">
      <div>
        <h2>Cancel Request</h2>
        <p>
          Cancel Request
        </p>
        <button id="cancel-button">Cancel Request</button>
      </div>
      <div id="message"></div>
    </section>
-->
<section data-position="requests">
    <h2>Items</h2>
  
    <ul class="requests">
    
        <% for(var i = 0; i < requests.length; i++) {%>
        
        <li class="request">
          <span><%= requests[i].itemid %></span>
          <span><%= requests[i].name %></span>
          <span><%= requests[i].category %></span>
          <span><%= requests[i].color %></span>
          <span><%= requests[i].location %></span>
          <span><%= requests[i].picture %></span>
          <span><%= requests[i].date %></span>
          <span><%= requests[i].description %></span>
        <!-- does not do anything-->
          <form action="/requests">
          <button type="button">request</button>
          </form>
        </li>
       

        <% } %>
      
    </ul>
</section>
    <script src="/main.js"></script>
  </body>
</html>